/****************************************************************************
 * Fonts
 ****************************************************************************/
@font-face {
    font-family: Roboto;
    src: url("../fonts/Roboto-Medium.woff2?v=1.1.0") format("woff2"),
    url("../fonts/Roboto-Medium.woff?v=1.1.0") format("woff"),
    url("../fonts/Roboto-Medium.ttf?v=1.1.0") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: Roboto;
    src: url("../fonts/Roboto-Regular.woff2?v=1.1.0") format("woff2"),
    url("../fonts/Roboto-Regular.woff?v=1.1.0") format("woff"),
    url("../fonts/Roboto-Regular.ttf?v=1.1.0") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: Roboto;
    src: url("../fonts/Roboto-Regular.woff2?v=1.1.0") format("woff2"),
    url("../fonts/Roboto-Regular.woff?v=1.1.0") format("woff"),
    url("../fonts/Roboto-Regular.ttf?v=1.1.0") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Roboto;
    src: url("../fonts/Roboto-Light.woff2?v=1.1.0") format("woff2"),
    url("../fonts/Roboto-Light.woff?v=1.1.0") format("woff"),
    url("../fonts/Roboto-Light.ttf?v=1.1.0") format("truetype");
    font-weight: 300;
    font-style: normal;
}


/*
 * Typography
 */
body {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    color: rgba(0, 0, 0, .54);
    background-color: #fafafa;
}

h1 {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 112px;
    font-weight: 300;
    line-height: 1;
    letter-spacing: -.04em;
    margin-bottom: 8px;
}

h2 {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 56px;
    font-weight: 400;
    line-height: 1.35;
    letter-spacing: -.02em;
    margin-bottom: 8px;
}

h3 {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 45px;
    font-weight: 400;
    line-height: 48px;
    margin-bottom: 8px;
}

h4 {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 34px;
    font-weight: 400;
    line-height: 40px;
    margin-bottom: 8px;
}

h5 {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 8px;
}

h6 {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 1;
    letter-spacing: .02em;
    margin-bottom: 8px;
}

p {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    padding: 16px;
    margin: 0;
    color: rgba(0, 0, 0, .54);
}

.card {
    background: #fff;
    border-radius: 2px;
    margin: 6px;
}

.card-heading {
    background-color: #46b4a9;
    color: #fff;
}

.card-heading h3 {
    font-size: 24px;
    font-weight: 300;
    margin: 0;
    padding: 18px;
    line-height: 1em;
}

.card-main {

}

.card-actions {
    border-top: #d9d9d9 1px solid;
    padding: 18px;

}

.card-1 {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14),
                0 1px 5px 0 rgba(0, 0, 0, .12),
                0 3px 2px -2px rgba(0, 0, 0, .2);
}

.card-2 {
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .14),
                0 1px 8px 0 rgba(0, 0, 0, .12),
                0 3px 3px -2px rgba(0, 0, 0, .4);
}

.card-3 {
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14),
                0 1px 10px 0 rgba(0, 0, 0, .12),
                0 2px 4px -1px rgba(0, 0, 0, .4);
}

.card-4 {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .14),
                0 1px 18px 0 rgba(0, 0, 0, .12),
                0 3px 5px -1px rgba(0, 0, 0, .4);
}

.card-5 {
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, .14),
                0 3px 14px 2px rgba(0, 0, 0, .12),
                0 5px 7px -3px rgba(0, 0, 0, .4);
}

.card-6 {
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, .14),
                0 6px 30px 5px rgba(0, 0, 0, .12),
                0 8px 10px -5px rgba(0, 0, 0, .4);
}

.card-7 {
    box-shadow: 0 9px 46px 8px rgba(0, 0, 0, .14),
                0 24px 38px 3px rgba(0, 0, 0, .12),
                0 11px 15px -7px rgba(0, 0, 0, .4);
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
    padding: 1.6rem;
    border: 0;
}

.table > thead > tr > th {
    font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 500;
    color: #757575;
    vertical-align: bottom;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.table > caption + thead > tr:first-child > th,
.table > colgroup + thead > tr:first-child > th,
.table > thead:first-child > tr:first-child > th,
.table > caption + thead > tr:first-child > td,
.table > colgroup + thead > tr:first-child > td,
.table > thead:first-child > tr:first-child > td {
    border-top: 0;
}

.table > tbody + tbody {
    border-top: 1px solid rgba(0, 0, 0, 0.12);
}

.table .table {
    background-color: #fff;
}

.table .no-border {
    border: 0;
}

.table-condensed > thead > tr > th,
.table-condensed > tbody > tr > th,
.table-condensed > tfoot > tr > th,
.table-condensed > thead > tr > td,
.table-condensed > tbody > tr > td,
.table-condensed > tfoot > tr > td {
    padding: 0.8rem;
}

.table-bordered {
    border: 0;
}

.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
    border: 0;
    border-bottom: 1px solid #e0e0e0;
}

.table-bordered > thead > tr > th,
.table-bordered > thead > tr > td {
    border-bottom-width: 2px;
}

.form-control {
    font-size: 15px;
    padding: 8px 10px 8px 5px;
    display: block;
    border: none;
    border-bottom: 1px solid #757575;
    border-radius: 0;
    box-shadow: none;
    transition: none;
}

.form-control:focus {
    padding: 8px 10px 5px 5px;
    box-shadow: none;
    transition: none;
    border-bottom: 3px solid #757575;
}

.btn {
    border-radius: 2px;
    border: 0;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14),
                0 1px 5px 0 rgba(0, 0, 0, .12),
                0 3px 2px -2px rgba(0, 0, 0, .2);
    font-weight: 500;
    margin-left: 5px;
    margin-right: 5px;
    text-transform: uppercase;
}

.btn:focus, .btn:active:focus, .btn.focus, .btn.active.focus {
    outline: 0 auto;
}

.btn:active, .btn.active {
    outline: 0;
    background-image: none;
    box-shadow: none;
}

.btn-default {
    color: #757575;
}

.btn-default:hover {
    color: #757575;
    background-color: #eee;
}

.btn-flat {
    color: #757575;
    box-shadow: none;
    background-color: #fff;
}

.btn-flat:hover {
    background-color: #eee;
}

.btn-flat:active {
    background-color: #ddd;
}

.btn-link:hover {
    background-color: #eee;
}

.btn-link:active {
    background-color: #ddd;
}
